<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/main-dashboard.css" />
  </head>
  <body>
    <h1>Welcome, <%= user.username %></h1>
    <header>
      <nav>
        <div class="menu">
          <div class="logo">
            <a href="#">Dashboard</a>
          </div>
          <ul>
            <li><a class="normal-button" href="/logout">Log Out</a></li>
            <li class="profile-button">
              <a href="/profile">
                <img
                  src="https://cdn3d.iconscout.com/3d/premium/thumb/profile-5590850-4652486.png"
                  alt="Profile Pic"
                />
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <!-- Card 1 Starts -->
      <div class="cardmenu"></div>
      <!-- Card 1 Ends -->
    </main>
    <footer></footer>
  </body>
</html>
