<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>

    <!-- Linking Starts -->
    <link rel="stylesheet" href="/stylesheets/signup.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Linking Ends -->
  </head>

  <body>
    <header></header>
    <main>
      <div class="wrapper">
        <form action="/register" method="post" id="form-sign-up">
          <h1 id="sign-up-heading">Sign Up</h1>

          <div class="inputbox">
            <input
              name="email"
              id="email"
              type="email"
              placeholder="Enter Your Email"
              required
            />
            <i class="bx bxs-envelope"></i>
          </div>

          <div class="inputbox">
            <input
              name="username"
              id="user-name"
              type="text"
              placeholder="Enter Your Username"
              required
            />
            <i class="bx bxs-user"></i>
          </div>

          <div class="inputbox">
            <input
              name="name"
              id="user-name"
              type="text"
              placeholder="Enter Your Full Name"
              required
            />
            <i class="bx bxs-user"></i>
          </div>

          <div class="inputbox">
            <input
              name="password"
              id="password"
              type="Password"
              placeholder="Enter Your Password"
              required
            />
            <i class="bx bxs-lock-alt"></i>
          </div>

          <button type="submit" class="btn">Sign Up</button>

          <div class="register-link">
            <p>Already a member? <a href="/login">LogIn</a></p>
          </div>
          <div class="back-home">
            <a href="/">Go back to Homepage</a>
          </div>
        </form>
      </div>
      <script src="/javascripts/signup.js" type="module"></script>
    </main>
    <footer></footer>
  </body>
</html>
